.item {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 28px;
    padding: 8px 12px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.item::placeholder {
    color: #bfbfbf;
}

.duration {
    padding: 4px 12px;
    font-size: 14px;
	line-height: 22px;
	box-sizing: border-box;
    margin: 0;
    width: 280px;
}

.duration-wide::placeholder {
    color: #c9c9c9;
}

.duration-wide {
    padding: 4px 12px;
    font-size: 14px;
	line-height: 22px;
	box-sizing: border-box;
    margin: 0;
    width: 100%;
}