.content {
  display: flex;
  width: 100%;
  margin-bottom: 1.5em;
  position: relative;
}

.title,
.selected {
  font-size: 1em;
  padding-bottom: 0.75em;
}

.title {
  position: relative;
  border-bottom: 1.5px solid #e2e4e7;
  flex-grow: 1;
  padding-bottom: 14px;
}
.title:nth-child(2) {
  flex-grow: 1;
}

.title a {
  color: #000;
}

.title:first-child {
  /* width: 20%; */
  flex-grow: 1;
  z-index: 1;
}
.title:nth-child(2) {
  padding-left: 10%;
  flex-grow: 1;
}

.selected {
  border-bottom: 3px solid #1788f0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  width: 10%;
}

.selected:nth-child(2) {
  position: absolute;
  left: 20%;
  width: 14%;
}

.selected a {
  color: #1788f0;
}

.space {
  border-bottom: 1.5px solid #e2e4e7;
  flex-grow: 1;
}

@media (max-width: 500px) and (min-width: 400px) {
  .title:nth-child(2) {
    padding-left: 10%;
  }

  .selected:nth-child(2) {
    left: 20%;
    width: 15%;
  }

  .title,
  .selected {
    font-size: 0.9em;
  }
  .title {
    padding-bottom: 12px;
  }
}

@media (max-width: 399px) {
  .selected {
    width: 15%;
  }
  .title:nth-child(2) {
    padding-left: 10%;
  }

  .selected:nth-child(2) {
    left: 25%;
    width: 20%;
  }
  .title,
  .selected {
    font-size: .8em;
  }
  .title {
    padding-bottom: 11px;
  }
}
