.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background: #f0f2f5;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  max-width: 400px;
}

.auth .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3em;
}

.auth .logo img {
  width: 70%;
}

.auth .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;
}

.auth .title {
  font-size: 1.2em;
}