body {
  background: #f0f2f5;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  max-width: 360px;
  min-width: 320px;
  font-size: 8px;
}

.auth .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3em;
  font-size: 1em;
}

.auth .title {
  font-size: 2em;
  line-height: 1.5em;
}