@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
#modal {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

input,
h1,
h2,
h3,
a,
span,
button,
select,
option,
label,
textarea,
div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}
