.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  font-size: 8px;
}

.error {
  color: #d32a00;
  font-size: 14px;
  text-align: center;
}

.hidden {
  display: none;
}