.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 1.2em;
  margin-bottom: 1.5em;
  outline: none;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form input[type="password"]::placeholder {
  color: #bfbfbf;
}

.form input[type="submit"] {
  width: 100%;
  border: none;
  border-radius: 2px;
  color: #fff;
  background: #fa8c16;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.form input[type="submit"]:hover {
  background: #e96719;
}

@media (max-width: 500px) {
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"],
  .form input[type="submit"] {
    font-size: 0.9em;
  }
}
