.nav {
  background: #fff;
  min-width: 208px;
  min-height: 120px;
  width: 208px;
  padding-top: 12px;
  box-shadow: 0px 2px 8px rgba(187, 183, 183, 0.15);
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  text-overflow: clip;
  white-space: nowrap;
}

.nav.hidden {
  min-width: 50px;
  width: 50px;
  transition: 0.5s;
}
.change {
  padding: 12px 16px;
  box-shadow: inset 0px 1px 0px #f0f0f0;
  height: 16px;
}

.hideIcon {
  display: none;
}
.text.hideSpan {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  margin-left: 0;
}
.nav ul {
  height: 100%;
  width: 100%;
}

.nav ul li {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.item a {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  padding: 9px 0;
  padding-left: 16px;
  color: #000;
  height: 40px;
  box-sizing: border-box;
}

.text {
  transition: 0.5s;
  text-overflow: clip;
  white-space: nowrap;
  margin-left: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background: rgba(250, 140, 22, 0.2);
  box-shadow: inset -3px 0px 0px #fa8c16;
}
