@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.list {
  padding: 0 24px;
  height: 100%;
}

.table {
  background: #fff;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
}
.header {
  background: #fafafa;
}

.header th {
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
  text-align: left;
}

.header th,
.row td {
  padding: 17px 0;
  padding-left: 16px;
}

.name {
  color: #1890ff;
}
.row, .header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.row td span {
    display: inline-block;
    line-height: 24px;
    padding: 2px 12px;
}
.active {
  color: #52c41a;
  background: rgba(82, 196, 26, 0.15);
  border-radius: 4px;
  font-size: 14px;
}

.paused {
  color: #a2a2a2;
  background: rgba(161, 161, 161, 0.15);
  border-radius: 4px;
  font-size: 14px;

}

.oncoming {
  color: #1890ff;
  background: rgba(24, 144, 255, 0.15);
  border-radius: 4px;
  font-size: 14px;

}


.more {
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.cell, .filter {
  display: flex;
  align-items: center;
}

.updown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.25);
}
.updown svg:first-child {
  margin-bottom: -3px;
}
.updown svg:nth-child(2) {
  margin-top: -3  px;
}
.filter {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.25);
}

.filter, .updown {
  cursor: pointer;
  margin-left: 6px;
}