.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  width: 100%;
}
.checkbox {
  /* background: lime; */
  display: flex;
  justify-content: left;
  align-items: center;
}
.checkbox input[type=checkbox] {
  transform: scale(1.5);
  display: inline;
  margin-left: 4px;
}
.checkbox span {
  margin-left: 0.75em;
  /* display: inline; */
}

.link {
  font-size: 1.2em;
  color: #1788f0;
  /* background: red; */
}

@media (max-width: 500px) and (min-width: 350px) {
  .content {
    align-items: center;
  }
  .checkbox span,
  .link {
    font-size: 0.9em;
  }
}

@media (max-width: 349px) {
  .content {
    align-items: center;
  }
  .checkbox span,
  .link {
    font-size: 0.75em;
  }
}
